
  <div class="row">


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Stock Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>

    <tbody>
    <% stocks.each do |s| %>

      <tr>
        <td><%=s.created_at.to_date().strftime("%B %d, %Y %A")%></td>
        <td scope="col"><%=s.stock.name%></td>
        <td scope="col"><%=s.quantity%></td>
        <% if defined?(s.buying_price)%>
          <td scope="col"><%=s.buying_price%></td>
        <%else%>
          <td scope="col"><%=s.selling_price%></td>
        <%end%>
      </tr>
    <% end %>
    </tbody>
  </table>

  </div>
