<%= provide(:title, 'Sell Stocks') %>
<%= provide(:type, 'Sell') %>
<%= provide(:color, 'danger') %>
<%= provide(:url, '/sell') %>
<h1 class='display-3 text-center'>Sell Stocks</h1>
<%= render 'stocks_purchased_per_people/form' %>
