<%= provide(:title, 'Buy Stocks')%>
<%= provide(:type, 'Buy') %>
<%= provide(:color, 'light') %>
<%= provide(:url, '/buy') %>
<h1 class='display-3 text-center'>Buy Stocks</h1>

<%= render 'stocks_purchased_per_people/form'%>
