<% provide(:title, 'Stock')%>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-1">
      <%=image_tag @company_profile[:logo], alt: "Logo", height: "100px", width: "100px", class: 'rounded mt-5' %>
    </div>
    <div class="col">
      <h1 class="display-3 mt-5"><%=@company_profile[:name]%></h1>
    </div>
  </div>

  <div class="row justify-content-start mt-4">
    <div class="col">
      <b><h1 class="display-6 text-info">Price: <%='%.2f' % @quote[:c]%></h1></b>
    </div>
    <div class="col">
      <h1 class="display-6">High: <%='%.2f' % @quote[:h]%></h1>
    </div>
    <div class="col">
      <h1 class="display-6">Low: <%= '%.2f' % @quote[:l]%></h1>
    </div>
    <div class="col">
      <h1 class="display-6">Open: <%='%.2f' % @quote[:o]%></h1>
    </div>
  </div>

  <% if logged_in?()%>
  <div class="row">
    <div class="btn-group m-5">
      <%=link_to 'BUY', stocks_purchased_per_people_new_path(:ticker => @company_profile[:ticker]), class: 'btn btn-success btn-lg m-2'%>
      <%=link_to 'SELL', root_path, class: 'btn btn-danger btn-lg m-2'%>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-6">
      <div class="d-flex align-items-center">
        <%= link_to '1 day', stocks_path(:ticker => @ticker, :days => '1'), class: 'btn btn-primary mx-1'%>
        <%= link_to '3 days', stocks_path(:ticker => @ticker, :days => '3'), class: 'btn btn-primary mx-1'%>
        <%= link_to '1 week', stocks_path(:ticker => @ticker, :days => '7'), class: 'btn btn-primary mx-1'%>
        <%= link_to '1 month', stocks_path(:ticker => @ticker, :days => '30'), class: 'btn btn-primary mx-1'%>
        <%= link_to '3 months', stocks_path(:ticker => @ticker, :days => '90'), class: 'btn btn-primary mx-1'%>
        <%= link_to '6 month', stocks_path(:ticker => @ticker, :days => '180'), class: 'btn btn-primary mx-1'%>
        <%= link_to '1 year', stocks_path(:ticker => @ticker, :days => '365'), class: 'btn btn-primary mx-1'%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%if @days.to_i <= 7%>
      <%=  line_chart(@new_graph, width: "1000px", height: "500px", min: @min, max: @max, stepSize: 1, points: false, curve: false, discrete: true) %>
      <%else%>
      <%=  line_chart(@new_graph, width: "1000px", height: "500px", min: @min, max: @max, points: false, curve: false) %>
      <%end%>
    </div>
  </div>

</div>
