<%=provide(:tile, 'Account Overview')%>
<div class="row">
   <aside class="col-md-4">
       <section class="user_info">
           <h1><%= @user.name %> </h1>
           <h1>Position Value: <%= @position_balance %> </h1>
           <h1>Cash Value: <%= @cash %></h1>
           <h1>test: <%= @test %></h1>
       </section>
   </aside>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Current Price</th>
        <th scope="col">Daily Gain</th>
        <th scope="col">Daily Percent Change</th>
        <th scope="col">Quantity</th>
        <th scope="col">Buying Price</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Net Gain</th>
        <th scope="col">Percent Change</th>
      </tr>
    </thead>
    <tbody>
      <%get_overview_info(current_user().id).each() do |s|%>
        <tr>
          <th><%=s[:ticker]%></th>
          <td><%=s[:current_price]%></td>
          <% if s[:daily_net_gain] < 0%>
            <td class="text-danger"><%=s[:daily_net_gain]%></td>
            <td class="text-danger"><%=s[:daily_percent_change]%>%</td>
          <% else%>
            <td class="text-success"><%=s[:daily_net_gain]%></td>
            <td class="text-success"><%=s[:daily_percent_change]%>%</td>
          <% end%>
          <td><%=s[:quantity]%></td>
          <td><%=s[:price_per_share]%></td>
          <td><%=s[:price]%></td>
          <% if s[:net_gain] < 0%>
            <td class="text-danger"><%=s[:net_gain]%></td>
            <td class="text-danger"><%=s[:percent_change]%>%</td>
          <% else%>
            <td class="text-success"><%=s[:net_gain]%></td>
            <td class="text-success"><%=s[:percent_change]%>%</td>
          <% end%>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
