
	<div class="row">
  	<div class="col-md-6 col-md-offset-3 mx-auto">
   	 <%= form_with(url:  yield(:route), local:  true) do |f|  %>
     	 <%= f.label   :Amount %>
      	<%= f.number_field  :amount, step: 0.01, class: 'form-control my-3'  %>

      	<%= f.label    :password %>
      	<%= f.password_field  :password, class: 'form-control my-3' %>

      	<%= f.submit yield(:button_text), class: "btn btn-primary my-3" %>
    	<% end %>
  	</div>
	</div>
